<section>
{{>page/nav}}
<div class="content-wraper">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Add a new store</h5>
                </div>
                <div class="card-body">
                    <div class="form form-wrapper">
                        <form method="post" target="_self" enctype="application/x-www-form-urlencoded" class="form country-form">
                            <label class="lbl-store-acc-head"><strong>Account Head / Ledger</strong></label>
                            <input class="form-control field-store-acc-head" type="text">
                            <label class="lbl-store-name"><strong>Store Name</strong></label>
                            <input class="form-control field-store-name" type="text">
                            <label class="lbl-store-code"><strong>Store Code</strong></label>
                            <input class="form-control field-store-code" type="text">
                            <label class="lbl-store-email"><strong>Email</strong></label>
                            <input class="form-control field-store-email" type="email">
                            <label class="lbl-store-telnum"><strong>Store Phone Number</strong></label>
                            <input class="form-control field-store-tel" type="tel">
                            <button class="btn btn-primary btn-add-store" type="submit">Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

