{{!Breadcrub menus dynamically fetched from the url}}
<div class="nav-breadcrub">
    <ol class="breadcrumb">
        {{#each breadCrumb}}
            <li class="breadcrumb-item">
                <a href="{{this.url}}"><span>{{this.label}}</span></a>
            </li>
        {{/each}}
    </ol>
</div>