{{!Breadcrub menus dynamically fetched from the url}}
<div class="nav-breadcrub">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><span>Home</span></a></li>
        <li class="breadcrumb-item"><a><span>Library</span></a></li>
        <li class="breadcrumb-item"><a><span>Data</span></a></li>
    </ol>
</div>