<section id="front-sec">
    <nav class="navbar navbar-light navbar-expand-md" id="front-head-nav">
        <div class="container-fluid"><a class="navbar-brand" href="/"><strong>InApp</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="height:40px;">
                    <li class="nav-item" role="presentation" id="front-nav-item"><a class="nav-link active" href="/user"><strong>Login</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>

