    <nav class="navbar navbar-light navbar-expand-md" id="front-head-nav">
        <div class="container-fluid"><a class="navbar-brand" href="/"><strong>InApp</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1"></div>
        </div>
    </nav>
    <div class="login-form">
        <form id="inapp-login" class="login">
            <h2 class="text-center">Login</h2>
            <div class="form-group"><input class="form-control" type="text" placeholder="Username" required="required"></div>
            <div class="form-group"><input class="form-control" type="password" placeholder="Password" required="required"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit"><strong>Login</strong></button>
                <div class="clear-fix"><label class="pull-left checkbox-inline"><input type="checkbox"><strong>Remember me</strong></label><a href="#"><strong>Forgot password ?</strong></a></div>
            </div>
        </form>
    </div>