{{! 
handlebard template for the config page 
@Author Sujith Suresan
}}
<section>
    {{>page/nav}}
    {{>breadcrumb}}
    <div class="container" id="conf-page">
        {{#forloop entityList.rowCount }}
            <div class="row">
                {{#forloop ../entityList.columnCount}}
                    {{#each ../../entityList.items}}
                        <div class="row">
                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">{{this}}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="ast-list">
                                            <p>{{this}}</p>
                                        </div>
                                    </div>
                                </div>               
                            </div>          
                        </div>
                    {{/each}}                                    
                {{/forloop}}
            </div>
        {{/forloop}}
    </div>
</section>
