{{! 
handlebard template for the config page 
@Author Sujith Suresan
}}
<section>
    {{>page/nav}}
    {{>breadcrumb}}
    <div class="container" id="conf-page">
        {{#each entityList.ele}}
            <div class="row">
                {{#each this}}
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">{{this.label}}</h5>
                            </div>
                            <div class="card-body">
                                <div class="ast-list">
                                    <a href='{{this.url}}'>{{this.label}}</a>
                                    <p>{{this.desc}}</p>
                                </div>
                            </div>
                        </div>               
                    </div> 
                {{/each}}                
            </div>
        {{/each}}
    </div>
</section>

