{{! 
handlebard template for the config page 
@Author Sujith Suresan
}}
<section>
    {{>page/nav}}
    {{>breadcrumb}}
    <div class="container" id="conf-page">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Company Configuration</h5>
                    </div>
                    <div class="card-body">
                        <div class="ast-list">
                            <p>Company Details </p>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Locations</h5>
                    </div>
                    <div class="card-body">
                        <div class="ast-list">
                            <p>Location /Province/ Regions</p>
                        </div>
                    </div>
                </div> 
            </div>            
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Asset Type Configuration</h5>
                    </div>
                    <div class="card-body">
                        <div class="ast-list">
                            <p>Asset Types</p>
                            <ul>
                                <li>
                                    <a href="/config/assettype">List Asset Type</a>
                                </li>
                                <li>
                                    <a href="/config/assettype">List Asset Type</a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">App Configuration</h5>
                    </div>
                    <div class="card-body">
                        <div class="ast-list">
                            <p>App Configurations</p>
                        </div>
                    </div>
                </div> 
            </div>             
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">App Configuration</h5>
                    </div>
                    <div class="card-body">
                        <div class="ast-list">
                            <p>App Configurations</p>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">App Configuration</h5>
                    </div>
                    <div class="card-body">
                        <div class="ast-list">
                            <p>App Configurations</p>
                        </div>
                    </div>
                </div> 
            </div>             
        </div>        
    </div>
</section>
