<nav class="navbar navbar-light navbar-expand-md" id="front-head-nav">
    <div class="container-fluid"><a class="navbar-brand" href="/"><strong>InApp</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1"></div>
    </div>
</nav>
<div class="errorWindow">
    <h2 class="text-center errorHead">Oops!</h2>
    <p class="text-center errorDetails">The Requested page can not be found !</p>
    <div class="errAct"></div>
</div>