<section>
    {{>page/nav}}
    {{>breadcrumb}}
    <div class="container">
        <div class="content-wraper">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Asset type List</h5>
                </div>
                <div class="card-body">
                    <div class="ast-list">
                        <p> Asset List</p>
                        <ul>
                            <li>Asset Type  1</li>
                            <li>Asset Type  2</li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

